<section class="about-me">
    <div class="container">
        
        <h2 class="visually-hidden">About Me</h2>

        <div class="about-container">
            <div class="about-text-box">
                <p class="about-text">I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE IMPRESSIVE AND <span class="highlight">FUNCTIONAL</span> <span class="websites-text">WEBSITES</span> THAT REFLECT EACH CLIENT'S UNIQUE PERSONALITY.</p>
            </div>
            <div class="about-image">
                <picture>
                    <source
                        srcset="
                        ../img/about-me/desktop.webp    1x,
                        ../img/about-me/desktop2x.webp 2x
                        "
                        media="(min-width: 1440px)"
                    />

                    <source
                        srcset="
                        ../img/about-me/tablet.webp    1x,
                        ../img/about-me/tablet2x.webp 2x
                        "
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="
                        ../img/about-me/mobile.webp    1x,
                        ../img/about-me/mobile2x.webp 2x
                        "
                        media="(max-width: 767px)"
                    />
                    <img src="../img/about-me/mobile.webp" alt="PERSONALITY IMAGE" />
                </picture>
            </div>
        </div>

<!-- ACC -->

            <ul class="accordion-list accordion-container">
                <li class="accordion-item ac">
                    <h2 class="ac-header accordion-header ">
                        ABOUT ME
                        <button type="button" class="about-btn-acc ac-trigger" >
                            <span class="acc-icon">
                                <svg width="20" height="20">
                                    <use xlink:href="../img/Icons/about-me.svg#icon-about-me-acordeon"></use>
                                </svg>
                            </span>
                        </button>
                    </h2>
                    <div class="ac-panel accordion-content">
                        <p class="about-me-text">
                            I am Lloyd Jefferson, a talenteprogrammer with extensivexpertise in softwardevelopment. I have aunderstanding of differenprogramming languages antechnologies, always ready timprove my skills. I alwayfollow the latest trends anlook for unconventionalcreative solutions to problemsI have a high level oanalytical skills and am able teffectively solve even the mosdifficult tasks encountered othe way.
                        </p>
                        <p class="about-me-text">
                            Able to work both independentland in a team. I can effectivelcooperate with     colleaguesexchanging ideas and findinoptimal solutionsProfessional     maturity allowyou to calmly cope witchallenges and stressfusituations,     whilmaintaining a high quality owork. I am always looking foopportunities     foself-improvement. I activelstudy new technologies anpractices to stay     abreast othe latest innovations. I have strong understanding ovarious     programminlanguages, frameworks anarchitectural concepts thaallow me to     create efficienand scalable software.
                        </p>
                    </div>
                </li>
                <li class="accordion-item ac">
                    <h2 class="ac-header accordion-header ">
                        ROLE
                        <button class="about-btn-acc ac-trigger" type="button">
                            <span class="acc-icon">
                                <svg width="20" height="20">
                                    <use xlink:href="../img/Icons/about-me.svg#icon-about-me-acordeon"></use>
                                </svg>
                            </span>
                        </button>
                    </h2>
                    <div class="ac-panel accordion-content">

                        <p class="about-me-role">Frontend development</p> 
                            
                        <p class="about-me-role">Headless CMS,Wordpress</p> 
                            
                        <p class="about-me-role">Blender (enjoy)</p>
                            
                    </div>
                </li>
                <li class="accordion-item ac">
                    <h2 class="ac-header accordion-header ">
                        EDUCATION
                        <button class="about-btn-acc ac-trigger">
                            <span class="acc-icon">
                                <svg width="20" height="20">
                                    <use xlink:href="../img/Icons/about-me.svg#icon-about-me-acordeon"></use>
                                </svg>
                            </span>
                        </button>
                    </h2>
                    <div class="accordion-content ac-panel">
                        <p class="about-me-role">
                            2018 - 2019 / Frontend Development Diploma,GoIT IT <br>School, New York
                        </p>
                        <p class="about-me-role">
                            2019 - 2020 / Advanced Web Development Certificate,GoIT IT <br>School, New York
                        </p>
                        <p class="about-me-role">
                            2020 - 2022 / Advanced Blender Animation Techniques,Udemy
                        </p>
                    </div>
                </li>
            </ul>
            
<!-- SWIPER -->

        <div id="about-me-skills-slider">
            <div id="about-me-swiper" class="swiper">
                <ul id="about-me-swiper-list" class="swiper-wrapper">
                    <li class="about-me-swiper-slide swiper-slide red-skills">
                        <p class="about-me-skill">HTML/CSS</p>
                    </li>
                    <li class="about-me-swiper-slide swiper-slide">
                        <p class="about-me-skill">JavaScript</p>
                    </li>
                    <li class="about-me-swiper-slide swiper-slide">
                        <p class="about-me-skill">React</p>
                    </li>
                    <li class="about-me-swiper-slide swiper-slide">
                        <p class="about-me-skill">Node.js</p>
                    </li>
                    <li class="about-me-swiper-slide swiper-slide">
                        <p class="about-me-skill">React Native</p>
                    </li>
                    <li class="about-me-swiper-slide swiper-slide">
                        <p class="about-me-skill">Soft Skills</p>
                    </li>
                    <li class="about-me-swiper-slide swiper-slide">
                        <p class="about-me-skill">HTML/CSS</p>
                    </li>
                    <li class="about-me-swiper-slide swiper-slide">
                        <p class="about-me-skill">JavaScript</p>
                    </li>
                    <li class="about-me-swiper-slide swiper-slide">
                        <p class="about-me-skill">React</p>
                    </li>
                    <li class="about-me-swiper-slide swiper-slide">
                        <p class="about-me-skill">Node.js</p>
                    </li>
                    <li class="about-me-swiper-slide swiper-slide">
                        <p class="about-me-skill">React Native</p>
                    </li>
                    <li class="about-me-swiper-slide swiper-slide">
                        <p class="about-me-skill">Soft Skills</p>
                    </li>
                    
                    
                </ul>
            </div>
            <button id="about-me-swiper-next">
                <svg width="28" height="28" class="about-icon-swiper">
                    <use href="../img/Icons/about-me.svg#icon-about-me-swiper"></use>
                </svg>
            </button>
        </div>

    </div>
</section>
