<section class="about-me">
    <div class="container">
        
        <h2 class="visually-hidden">About Me</h2>

        <div class="about-container">
            <div class="about-text-box">
                <p class="about-text">I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE IMPRESSIVE AND <span class="highlight">FUNCTIONAL</span> <span class="websites-text">WEBSITES</span> THAT REFLECT EACH CLIENT'S UNIQUE PERSONALITY.</p>
            </div>
            <div class="about-image">
                <picture>
                    <source
                        srcset="
                        ./img/about-me/desktop.webp    1x,
                        ./img/about-me/desktop2x.webp 2x
                        "
                        media="(min-width: 1440px)"
                    />

                    <source
                        srcset="
                        ./img/about-me/tablet.webp    1x,
                        ./img/about-me/tablet2x.webp 2x
                        "
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="
                        ./img/about-me/mobile.webp    1x,
                        ./img/about-me/mobile2x.webp 2x
                        "
                        media="(max-width: 767px)"
                    />
                    <img src="./img/about-me/mobile.webp" alt="PERSONALITY IMAGE" />
                </picture>
            </div>
        </div>


        <div class="accordion">
            <ul class="accordion-list">
                <li class="accordion-item active">
                    <button class="accordion-header">ABOUT ME
                        <span class="icon">
                            <svg width="20" height="20">
                                <use xlink:href="./img/Icons/about-me.svg#icon-about-me-acordeon"></use>
                            </svg>
                        </span>
                    </button>
                    <div class="accordion-content">
                        <p>I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an understanding of different programming languages and technologies, always ready to improve my skills. I always follow the latest trends and look for unconventional, creative solutions to problems. I have a high level of analytical skills and am able to effectively solve even the most difficult tasks encountered on the way.<br>
                        Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas and finding optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful situations, while maintaining a high quality of work. I am always looking for opportunities for self-improvement. I actively study new technologies and practices to stay abreast of the latest innovations. I have a strong understanding of various programming languages, frameworks and architectural concepts that allow me to create efficient and scalable software.
                        </p>
                    </div>
                </li>
                <li class="accordion-item">
                    <button class="accordion-header">ROLE
                        <span class="icon">
                            <svg width="20" height="20">
                                <use xlink:href="./img/Icons/about-me.svg#icon-about-me-acordeon"></use>
                            </svg>
                        </span>
                    </button>
                    <div class="accordion-content">
                        <p>Frontend development<br> Headless CMS, Wordpress<br> Blender (enjoy)</p>
                    </div>
                </li>
                <li class="accordion-item">
                    <button class="accordion-header">EDUCATION
                        <span class="icon">
                            <svg width="20" height="20">
                                <use xlink:href="./img/Icons/about-me.svg#icon-about-me-acordeon"></use>
                            </svg>
                        </span>
                    </button>
                    <div class="accordion-content">
                        <p>2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York<br>
                        2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York<br>
                        2020 - 2022 / Advanced Blender Animation Techniques, Udemy
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        

        <div class="about-me-skills-slider">
            <div class="about-me-swiper">
                <div class="about-me-swiper-wrapper">
                    <div class="about-me-swiper-slide"><span class="about-me-skill">HTML/CSS</span></div>
                    <div class="about-me-swiper-slide"><span class="about-me-skill">JavaScript</span></div>
                    <div class="about-me-swiper-slide"><span class="about-me-skill">React</span></div>
                    <div class="about-me-swiper-slide"><span class="about-me-skill">Node.js</span></div>
                    <div class="about-me-swiper-slide"><span class="about-me-skill">React Native</span></div>
                    <div class="about-me-swiper-slide"><span class="about-me-skill">Soft skills</span></div>

                    <!-- <button class="about-swiper-next">
                        <span class="icon">
                            <svg width="40" height="40">
                                <use xlink:href="./img/Icons/about-me.svg#icon-about-me-swiper"></use>
                            </svg>
                        </span>
                    </button> -->
                </div>
            </div>
        </div>
    
</div>
</section>