<!-- <section class="covers">
    
</section> -->

<section>
  <div class="container">
    <div id="covers" class="covers">
      <h2 class="visually-hidden">Covers</h2>
    </div>
    <div class="content">
      <div class="marquee">
        <div class="marquee__inner" data-speed="1"></div>
        <div class="marquee__inner" data-speed="2"></div>
        <div class="marquee__inner" data-speed="3"></div>
        <div class="marquee__inner" data-speed="4"></div>
        <div class="marquee__inner" data-speed="5"></div>
      </div>
    </div>
  </div>
</section>
