<section class="hero">
  <div class="container">
    <h1 class="hero-zag">
      HELLO. <br />
      I'M FULL STACK DEVELOPER
      LLOYD JEFFERSON.
    </h1>
    <div class="hero-mail">
      <a href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer" class="hero-circle">
        IG
      </a>
      <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer" class="hero-circle">
        FB
      </a>
      <a href="https://www.youtube.com/c/GoIT/" target="_blank" rel="noopener noreferrer" class="hero-circle">
        YT
      </a>
      <a href="https://github.com/Lumin228/Project-vite" target="_blank" rel="noopener noreferrer" class="hero-circle">
        GH
      </a>
      <a href="mailto:lloydjefferson@gmail.com" class="hero-mailto">lloydjefferson@gmail.com</a>
    </div>
  </div>
</section>