<section class="hero">
    
        <h1 class="hero-zag">
            HELLO. <br>
            I'M FULL STACK DEVELOPER <br>
            LLOYD JEFFERSON.
        </h1>
        <div class="hero-mail">
            <a href="" class="hero-circle">
               IG
            </a>
            <a href="" class="hero-circle">
                FB
             </a>
             <a href="" class="hero-circle">
                YT
             </a>
             <a href="" class="hero-circle">
                GH
             </a>
             <a href="mailto:lloydjefferson@gmail.com" class="hero-mailto">lloydjefferson@gmail.com</a>
        </div>
  
    
</section>

