<section class="projects" id="projects">
  <div class="container">
    <h2 class="heading-projects">Projects</h2>

    <div class="swiper projects-swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide projects-slide">
          <div class="slide-content">
            <ul class="tags">
              <li>#react</li>
              <li>#js</li>
              <li>#node js</li>
              <li>#git</li>
            </ul>
            <h3 class="project-heading">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="project-button"
              href="https://github.com/Lumin228/Project-vite"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="slide-picture">
            <picture>
              <source
                srcset="
                  ./img/projects/slide-1-desk.jpg    1x,
                  ./img/projects/slide-1-desk@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/projects/slide-1-tab.jpg    1x,
                  ./img/projects/slide-1-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/slide-1-mob.jpg    1x,
                  ./img/projects/slide-1-mob@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/projects/slide-1-mob.jpg"
                alt="Project interface picture"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide projects-slide">
          <div class="slide-content">
            <ul class="tags">
              <li>#react</li>
              <li>#js</li>
              <li>#node js</li>
              <li>#git</li>
            </ul>
            <h3 class="project-heading">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a class="project-button" href="">See project</a>
          </div>
          <div class="slide-picture">
            <picture>
              <source
                srcset="
                  ./img/projects/slide-2-desk.jpg    1x,
                  ./img/projects/slide-2-desk@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/projects/slide-2-tab.jpg    1x,
                  ./img/projects/slide-2-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/slide-2-mob.jpg    1x,
                  ./img/projects/slide-2-mob@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/projects/slide-2-mob.jpg"
                alt="Project interface picture"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide projects-slide">
          <div class="slide-content">
            <ul class="tags">
              <li>#react</li>
              <li>#js</li>
              <li>#node js</li>
              <li>#git</li>
            </ul>
            <h3 class="project-heading">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a class="project-button" href="">See project</a>
          </div>
          <div class="slide-picture">
            <picture>
              <source
                srcset="
                  ./img/projects/slide-3-desk.jpg    1x,
                  ./img/projects/slide-3-desk@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/projects/slide-3-tab.jpg    1x,
                  ./img/projects/slide-3-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/slide-3-mob.jpg    1x,
                  ./img/projects/slide-3-mob@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/projects/slide-3-mob.jpg"
                alt="Project interface picture"
              />
            </picture>
          </div>
        </div>
      </div>
      <!-- navigation buttons -->
      <div class="projets-nav-btns">
        <div class="swiper-btn-prev">
          <svg>
            <use
              href="./img/Icons/symbol-defs.svg#icon-arrow-narrow-left"
            ></use>
          </svg>
        </div>
        <div class="swiper-btn-next">
          <svg>
            <use
              href="./img/Icons/symbol-defs.svg#icon-arrow-narrow-right"
            ></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
