<section class="reviews">
  <div class="container">
    <div class="reviews-container">
      <h2 class="reviews-title">REVIEWS</h2>
      <div class="swiper reviews-swiper">
        <ul class="reviews-list js-reviews-list swiper-wrapper"></ul>
        <div class="reviews-arrows-btn-wrapper">
          <div class="swiper-btn-prev reviews-swiper-btn reviews-swiper-prev">
            <svg class="arrow" width="24" height="24">
              <use
                href="/img/Icons/symbol-defs.svg#icon-arrow-narrow-left"
              ></use>
            </svg>
          </div>
          <div class="swiper-btn-next reviews-swiper-btn reviews-swiper-next">
            <svg class="arrow" width="24" height="24">
              <use
                href="/img/Icons/symbol-defs.svg#icon-arrow-narrow-right"
              ></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
