<footer class="footer">
  <div class="container">
    <div class="logo-container">
      <img
        src="../img/work-together/image.png"
        srcset="../img/work-together/image-3.png"
        alt="icon"
        class="footer-icon"
      />
      <h1 class="footer-title">LET’S <span class="footer-span">WORK</span></h1>
    </div>
    <p class="together">TOGETHER</p>

    <div class="form-container">
      <form class="footer-form">
        <!-- <label for="name" class="footer-lable"></label> -->
        <div class="check-status">
          <input
            type="email"
            id="email"
            name="email"
            class="footer-input"
            required
            placeholder="clients@gmail.com"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          />
          <p class="message"></p>
        </div>

        <!-- <label for="email" class="footer-lable"></label> -->
        <input
          type="text"
          id="text"
          name="text"
          class="footer-input"
          required
          placeholder="comments"
        />
        <button type="submit" class="footer-btn">SEND</button>
      </form>
    </div>
    <address class="footer-cont">
      <ul class="footer-list">
        <li class="footer-item">
          <a href="mailto:lloydjefferson@gmail.com" class="footer-link"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="footer-item">
          <a href="tel:+3801111111111" class="footer-link"
            >+380 11 1111 11 11</a
          >
        </li>
      </ul>
    </address>
  </div>
</footer>

<div class="backdrop">
  <div class="modal">
    <button type="button" class="modal-close">
      <svg class="svg-close">
        <use href="./img/Icons/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-cont">
      <h1 class="modal-title">Thank you for your interest in cooperation!</h1>
      <p class="modal-parag">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</div>
