

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

.about-container {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.about-text-box {
    border-radius: 24px;
    max-width: 343px;
    max-height: 500px;
    background-color: #242527;
}

.about-text{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fafafa;
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 272px;
    padding-left: 32px;
    
    

}

.about-text .highlight {
    color: #ed3b44;
}
.about-text .websites-text{
    color: rgba(250, 250, 250, 0.4);
}

img{
    border-radius: 24px;
    height: auto;
}

.accordion {
    margin-top: 30px;
}

.accordion-item {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    max-width: 343px;
}

.accordion-header {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0 32px 0;
}

.accordion-header .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(250, 250, 250, 0.2);
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, stroke 0.3s ease;
}
.accordion-header .icon:hover{
    background-color: rgba(250, 250, 250, 0.2);
    transform: scale(1.2);
}

.accordion-item.active .icon svg {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}

.accordion-content {
    display: none;
    padding-bottom: 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
}



.about-me-text{
    margin-bottom: 32px;
}
.about-me-role{
    margin-bottom: 10px;
}




.accordion-item.active .accordion-content {
    display: block;
}
/* ----------------SWIPEEEEEEER------------ */


.about-me-skills-slider {
    margin-top: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-swiper {
    width: 100%;
    overflow: hidden;
    
}

.about-me-swiper-list{
    display: flex;
    align-items: center;
}


.about-me-swiper-slide{
    border-radius: 100%;
    border: 1px solid rgba(250, 250, 250, 0.2);
    width: 130px;
    height: 130px;

    display: flex;
    align-items: center;
    justify-content: center;

}



.about-me-swiper-slide.active{
    background-color: #ed3b44;
}

.about-me-skill {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #fafafa;
}


.about-me-swiper-next{
    background-color: transparent;
    padding: 10px 32px;
}
.about-icon-swiper{
    stroke:#3b3b3b ;
    fill:none;
    transition: transform 0.3s ease, stroke 0.3s ease;
}


.about-icon-swiper:hover{
    stroke:white;
    transform: scale(1.2);
}




@media only screen and (min-width: 768px) {
    .about-text{
        font-size: 38px;
        line-height: 1.05;
        padding-top: 64px;
        padding-right: 64px;
        padding-bottom: 436px;
        padding-left: 64px;
    }
    .about-text-box{
        max-width: 704px; 
        max-height: 700px;
    }
    .accordion-item {
        max-width: 704px;
        width: 100%;
    
    }
    .accordion-header{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .about-me-text{
        margin-bottom: 16px;
    }

    .about-me-swiper-slide{
        width: 200px;
        height: 200px;
    }
    .about-icon-swiper{
        width: 40px;
        height: 40px;

    }
}
@media only screen and (min-width: 1440px) {
    .about-text-box {
        max-width: 680px;
    }
    .about-container {
        
        flex-direction:row;
    }
    .accordion-item {
        max-width: 1376px;
    }

    .accordion-content {
        padding-left: 696px;
        text-align: left;
    }
    .about-me-text{
        margin-bottom: 32px;
    }
}