
.faq-container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.faq-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.faq-item.first { order: 1; }
.faq-item.third { order: 2; }
.faq-item.fifth { order: 3; }
.faq-item.second { order: 4; }
.faq-item.fourth { order: 5; }
.faq-item.sixth { order: 6; }


.faq-box-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.title-question{
font-weight: 600;
font-size: 20px;
line-height: 1.5;
letter-spacing: -0.02em;
color: #fafafa;
}

.faq-btn {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 16px;
  transition: border-color 0.3s ease;
}

.faq-btn:hover {
  background-color: rgba(250, 250, 250, 0.2) !important;
  transform: scale(1.2);
}
.arrow-faq {
  transition: transform 0.3s ease;
}

.arrow-faq {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease-in-out;
}

.faq-box-answer {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.faq-text-answer {
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
color: rgba(250, 250, 250, 0.6);

padding-bottom: 24px;
  margin: 0;
}

.faq-list {
  display: flex;
  flex-direction: column;

  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}


@media screen and (min-width: 768px) {
  .faq-container {
    max-width: 768px;
  }
  .faq-title {
    font-size: 16px;
    line-height: 1.13;
  }
  .faq-item {
    padding-right: 0;
    padding-left: 0;
    border-right: none;
  }
  .faq-box-question {
    padding: 32px 0 42px 0;
  }
}


@media screen and (min-width: 1440px) {
  .faq-container {
    max-width: 1440px;
  }
  .faq-desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  .faq-item.first { order: 1; }
  .faq-item.second { order: 2; }
  .faq-item.third { order: 3; }
  .faq-item.fourth { order: 4; }
  .faq-item.fifth { order: 5; }
  .faq-item.sixth { order: 6; }
  
  .faq-item.first,
  .faq-item.fifth,
  .faq-item.third {
    padding-right: 32px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }

  .faq-item.second,
  .faq-item.sixth,
  .faq-item.fourth {
    padding-left: 32px;
  }
}
