/* .header {
  padding: 20px 0;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
}
.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}
.nav-link.active::after {
  background: #747bff;
} */

/* General styles */
.header {
  position: absolute;
  z-index: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container_header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 32px 16px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container_header {
    max-width: 768px;
    padding: 48px 32px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container_header {
    max-width: 1440px;
    padding: 82px 32px;
  }
}

.header__logo {
  display: flex;
  align-items: top;
}

.header__logo img {
  width: 50px;
  margin-right: 10px;
}

.header__order {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 187px;
  height: 55px;

  background: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  padding: 14px 32px;
  background: #ed3b44;
  font-family: 'Inter Tight', sans-serif;
}

/* Menu */
.header__menu-wrapper {
  position: relative;
  display: inline-block;
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fafafa;
  text-decoration: underline;
}

.header__nav {
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: none;
  width: 150px;
  padding: 10px 0;
  transform: translate(-49px);
}

.header__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.header__menu li {
  padding: 4px 1px;
}

.header__menu li a {
  text-decoration: none;
  color: #fafafa;
  display: block;
}

.header__menu li a:hover {
  color: #ed3b44;
  text-decoration: underline;
}

.header__nav.active {
  display: block;
}

/*Burger button*/
.burger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger-menu span {
  display: block;
  width: 30px;
  height: 3px;
  background: #fafafa;
  border: 2px solid #fafafa;
}

/* Мобільне меню */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background: rgba(0, 0, 0, 0.9); */
  background: linear-gradient(
    270deg,
    #1c1d20 49.68%,
    #69292d 67.73%,
    #ed3b44 100%
  );
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.mobile-menu::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  /* Полосатый градиент только на левой половине */
  height: 100%;
  background: repeating-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 1%,
    rgba(0, 0, 0, 0.1) 1%,
    rgba(0, 0, 0, 0) 12%
  );
}

.mobile-menu.active {
  transform: translateY(0);
}

.mobile-menu ul {
  list-style: none;
  text-align: center;
}

.mobile-menu ul li {
  margin: 15px 0;
}

.mobile-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  /* text-decoration: underline; */
  transition: color 0.3s ease;
  pointer-events: auto;
}

/* .mobile-menu ul li a:hover {
  color: #ed3b44 !important;
}
.mobile-menu ul li a:focus {
  color: #ed3b44 !important;
} */
.close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.btn-order-menu {
  border-radius: 60px;
  padding: 14px 31px;
  width: 164px;
  height: 45px;
  background: #ed3b44;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  z-index: 1000;
  margin-top: 289px;
}

/* adaptivity */
@media (min-width: 768px) {
  .header__nav {
    display: none;
  }

  .burger-menu {
    display: none;
  }
}

@media (max-width: 767px) {
  .header__menu-wrapper {
    display: none;
  }

  .burger-menu {
    display: flex;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .menu-btn {
    display: none;
  }

  .header__order {
    display: none;
  }
}
