.hero {
  padding: 0;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
    height: 812px;
    width: 100%;
    background: linear-gradient(270deg, #1c1d20 49.68%, #69292d 67.73%, #ed3b44 100%);
    position: relative;
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
  }
  .hero::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%; /* Полосатый градиент только на левой половине */
    height: 100%;
    background: repeating-linear-gradient(
            to right,
            rgba(0, 0, 0, 0.2) 1%, 
            rgba(0, 0, 0, 0.1) 1%,  
            rgba(0, 0, 0, 0) 12%
        );
}
.hero-circle{
    font-family: "Inter Tight";
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 60px;
padding: 10px 8px;
width: 37px;
height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-mail{
    display: flex;
    gap: 4px;
  justify-content: center;
  position: absolute;
  margin-bottom: 32px;
}

.hero-mailto{
  font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: -0.02em;
color: var(--main-text);
  border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 60px;
padding: 10px 12px;
width: 178px;
height: 37px;
display: flex;
align-items: center;
justify-content: center;
}
  .hero-zag{
    display: flex;
justify-content:center;
align-items: center;
    margin: auto;
    font-family: var(--font-family);
font-weight: 500;
font-size: 50px;
line-height: 100%;
letter-spacing: -0.03em;
text-transform: uppercase;

}
  /* Styles for Tablet devices */
  @media only screen and (min-width: 768px) {
    .hero {
      max-width: 768px;
        height: 1024px;
        align-items: flex-end;
    }
    .hero::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 50%; /* Полосатый градиент только на левой половине */
        height: 100%;
        background: repeating-linear-gradient(
                to right,
                rgba(0, 0, 0, 0.2) 1%, 
                rgba(0, 0, 0, 0.1) 1%,  
                rgba(0, 0, 0, 0) 12%
            );
    }
    .hero-zag{
      margin-left: 32px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 90px;
        line-height: 100%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: var(--main-text);
    display: flex;
    justify-content:space-around;
    }
    .hero-mail{
      gap: 8px;
    }
    .hero-mailto{
      margin-right: 32px;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      letter-spacing: -0.02em;
      color: var(--main-text);
      border: 1px solid rgba(250, 250, 250, 0.2);
      border-radius: 60px;
      padding: 18px 24px;
      width: 223px;
      height: 55px;
      
    }
    .hero-circle{
      font-family: "Inter Tight";
      font-weight: 500;
      font-size: 16px;
      letter-spacing: -0.02em;
      border: 1px solid rgba(250, 250, 250, 0.2);
      border-radius: 60px;
      padding: 18px 16px;
      width: 55px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  }
  /* Styles for Desktop devices */
  @media only screen and (min-width: 1440px) {
    .hero {
      max-width: 1440px;

      height: 900px;
    }
    .hero::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 50%; /* Полосатый градиент только на левой половине */
        height: 100%;
        background: repeating-linear-gradient(
                to right,
                rgba(0, 0, 0, 0.2) 1%, 
                rgba(0, 0, 0, 0.1) 1%,  
                rgba(0, 0, 0, 0) 12%
            );
    }
    .hero-zag{
      margin: auto;
        font-family: var(--font-family);
    font-weight: 500;
    font-size: 90px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--main-text);
    display: flex;
    justify-content:space-around;
    }
  }



