.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 281px;
  width: 100%;
  padding-bottom: 32px;
  background: linear-gradient(to right, #ce3138, #69292d 32%, #1c1d20 50%, #1c1d20 100%);
}

.hero>.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.hero::before {
  background: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0.3) 11px, rgba(0, 0, 0, 0.3) 11px, rgba(0, 0, 0, 0.3) 12px, rgba(0, 0, 0, 0.1) 72px);
}

.hero::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  /* Полосатый градиент только на левой половине */
  height: 100%;
  /* background: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 5px, rgba(0, 0, 0, 0.3) 5px, rgba(0, 0, 0, 0.2) 6px, rgba(0, 0, 0, 0.1) 52px); */
  /* background: repeating-linear-gradient(to right,
      rgba(0, 0, 0, 0.2) 1%,
      rgba(0, 0, 0, 0.1) 1%,
      rgba(0, 0, 0, 0) 12%); */
}



.hero-circle {
  font-family: 'Inter Tight';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 8px;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-mail {
  display: flex;
  gap: 4px;
  justify-content: flex-end;
  /* margin-bottom: 32px; */
  flex-wrap: wrap;
  row-gap: 4px;

}

.hero-mailto {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--main-text);
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  width: 178px;
  height: 37px;


}

.hero-zag {
  margin-left: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 212px;
  max-width: 343px;
  position: relative;
}

/* Styles for Tablet devices */



@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 300px;
  }

  .hero::before {
    background: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0.3) 11px, rgba(0, 0, 0, 0.3) 11px, rgba(0, 0, 0, 0.3) 12px, rgba(0, 0, 0, 0.1) 72px);
  }

  .hero-zag {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 90px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--main-text);
    margin-bottom: 187px;
    max-width: 632px;
  }

  .hero-mail {
    gap: 8px;
  }

  .hero-mailto {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: var(--main-text);
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 18px 24px;
    width: 223px;
    height: 55px;
  }

  .hero-circle {
    font-family: 'Inter Tight';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 18px 16px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .hero::before {
    background: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0.3) 11px, rgba(0, 0, 0, 0.3) 11px, rgba(0, 0, 0, 0.3) 12px, rgba(0, 0, 0, 0.1) 72px);
  }

  .hero-zag {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 90px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--main-text);
    max-width: 1090px;
    margin-bottom: 243px;
    margin-left: 146px;
  }
}